<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="base">
    <!-- 返回顶部-->
    <div id="goTop" class="goTop" data-toggle="modal" onclick="goTop();">
        <button class="md-btn md-fab md-mini m-b-sm white"><div id="goTopIcon"></div></button>
    </div>

    <!-- 全局加载层-->
    <div id="loading" class="modal-backdrop fade in" style="display: none;" >
        <div class="row-col h-v">
            <div class="row-cell v-m text-white text-center" style="background: url('/static/images/infinity.gif') no-repeat center center;">
            </div>
        </div>
    </div>

    <div id="addressUtil"></div>

    <!-- 历史记录地址-->
    <script type="text/html" id="addressModalTemplate">
        <div class="modal fade" id="addressModal" style="display: none;" aria-hidden="true">
            <div class="bottom white b-b" style="height:50%;">
                <div class="row-col"><a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">×</a>
                    <div class="p-a b-b"><span class="h6">历史地址记录</span></div>
                    <div class="row-row">
                        <div class="row-body">
                            <div class="row-inner">
                                {{each data as value index}}
                                <div class="m-b" onclick="addAddress('{{value.name}}','{{value.phone}}','{{value.address}}');">
                                    <div class="box-header primary">
                                        <h3 class="w-full">
                                            <div class="text-left">
                                                {{value.phone}}
                                            </div>
                                            <div class="text-right">
                                                {{value.name}}
                                            </div>
                                        </h3>
                                        <small class="text-white">{{value.address}}</small>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
</html>