<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    <!--Style -->
    <link rel="stylesheet" href="/static/bootstrap/css/glyphicons.css" type="text/css" />
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/bootstrap/css/material-design-icons.css" type="text/css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/bootstrap/css/app.css" type="text/css" />
    <link rel="stylesheet" href="/static/swiper/swiper-4.3.5.min.css">
    <!-- jQuery -->
    <script src="/static/jquery/jquery.js"></script>
    <!-- 微信openJs-->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
    <!-- Layer-->
    <script src="/static/layer/layer.js"></script>
    <!-- Swiper-->
    <script src="/static/swiper/swiper-4.3.5.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/bootstrap/js/tether.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <!-- 导航栏 -->
    <script src="/static/bootstrap/js/ui-nav.js"></script>
    <!-- 图片延迟加载-->
    <script type="text/javascript" src="/static/imagesloaded/jquery.lazyload.js"></script>
    <!-- 图片旋转控件-->
    <script type="text/javascript" src="/static/rotate/jquery.rotate.min.js"></script>
    <!-- 模版引擎-->
    <script type="text/javascript" src="/static/template/template.js"></script>
    <!-- Base -->
    <script src="/static/base.js"></script>
</head>
<body>
<div class="app" id=app>
    <!-- 框架布局开始 -->
    <!-- 公共 -->
    <div th:include="layout/base :: base"></div>
    <!-- 头部 -->
    <div class="app-header white box-shadow">
        <div class="navbar">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24" height="24">
                <path d="M 4 4 L 44 4 L 44 44 Z" fill="#a88add"></path>
                <path d="M 4 4 L 34 4 L 24 24 Z" fill="rgba(0,0,0,0.15)"></path>
                <path d="M 4 4 L 24 4 L 4  44 Z" fill="#0cc2aa"></path>
            </svg>
            <!-- navbar right -->
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item dropdown">
                    <a class="nav-link clear" href="" data-toggle="dropdown">
                        <span class="m-r" th:text="${session.loginUser.nicknameStr}"></span>
                        <span class="avatar w-32">
                    <img th:src="${session.loginUser.headimgurl}" alt="...">
                    <i class="on b-white bottom"></i>
                  </span>
                    </a>
                    <div class="dropdown-menu pull-right dropdown-menu-scale">
                        <a href="/" class="dropdown-item" >主页</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" ui-sref="app.inbox.list"><span>消息通知</span>
                            <span class="label warn m-l-xs">3</span></a>
                        <a href="/paKe/user/userInfo" class="dropdown-item" ><span>个人中心</span></a>
                    </div>
                </li>
            </ul>
            <!-- / navbar right -->
        </div>
    </div>
    <!-- 中部 -->
    <div class="app-body" id="view">
        <!-- padding start -->
    <div class="padding loadingIco" id="body">
        <!-- 公告区 -->
        <div layout:fragment="announcement"></div>
        <!-- banner -->
        <div layout:fragment="banner"></div>
        <!-- 功能区 -->
        <div layout:fragment="function"></div>
        <!-- 内容区 -->
        <div layout:fragment="content"></div>
        <!-- padding end -->
    </div>
    <!-- 中部 -->
</div>
<!-- 框架布局结束 -->
</body>
</html>