<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/layout">
<body>
<!--中部 -->
<div layout:fragment="content">
    <input type="hidden" id="handle_status">
    <form action="#" class="m-b-md">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="请输入订单号">
            <span class="input-group-btn">
        <button class="btn b-a no-shadow white" type="button">查询</button>
       </span>
        </div>
    </form>
    <div id="orders" class="tab-content"></div>
    <div id="modal"></div>
    <script type="text/html" id="myTemplate">
        {{each data as value index}}
        <div id="{{value.id}}" class="box" style="margin-bottom: 0.5rem;cursor:pointer;" onclick="orderInfo('{{value.id}}')">
            <div class="list-item b-state b-l b-l-2x {{if value.state==1}}b-warning{{else if value.state==2}}b-warn{{else if value.state==3}}b-primary{{else if value.state==4}}b-blue{{else if value.state==5}}b-grey{{else if value.state==6}}b-info{{/if }}">
            <div class="list-left">
                <span class="m-r">{{sum}}</span>
              <span class="w-48 avatar">
                <img src="{{value.headimgurl}}">
              </span>
            </div>
                <div class="list-body">
                    <div class="pull-right text-xs">
                        {{if value.state==1}}
                        <span class="label warning text-white state">待接单</span>
                        {{else if value.state==2}}
                        <span class="label warn text-white state">已接单</span>
                        {{else if value.state==3}}
                        <span class="label primary text-white state">已完成</span>
                        {{else if value.state==4}}
                        <span class="label blue text-white state">已取消</span>
                        {{else if value.state==5}}
                        <span class="label grey text-white state">已拒接</span>
                        {{else if value.state==6}}
                        <span class="label info text-white state">待补价</span>
                        {{else if value.state==0}}
                        <span class="label grey text-white state">已删除</span>
                        {{/if }}
                        <i class="fa fa-paperclip m-l-sm text-warning"></i>
                    </div>
                    <div>
                        <a href="javascript:void(0);" class="_500">{{value.endUserName}}</a>
                    </div>
                    <div class="text-ellipsis text-muted text-sm">{{value.sms}}</div>
                </div>
            </div>
        </div>
        {{/each}}
    </script>
    <script type="text/javascript" th:inline="javascript">
        $(function(){
            checkScroll();
        });
        function checkScroll(){
            if(!lowEnough()) return pollScroll();
            var url ="/takeAway/list";
            var urlData ="pageNum="+pageNum+"&pageSize="+pageSize;
            getData(url,urlData);
        }
        function pollScroll(){
            setTimeout(checkScroll,1000);
        }
        function lowEnough(){
            var pageHeight = Math.max(document.body.scrollHeight,document.body.offsetHeight);
            var viewportHeight = window.innerHeight ||
                document.documentElement.clientHeight ||
                document.body.clientHeight || 0;
            var scrollHeight = window.pageYOffset ||
                document.documentElement.scrollTop ||
                document.body.scrollTop || 0;
            return pageHeight - viewportHeight - scrollHeight < 500;
        }
        function getData(url,urlData){
            var getData =$.ajax({
                type:'get',
                url:url,
                data:urlData,
                success:function(data){
                    if (!$.isEmptyObject(data)) {
                        if(data.code==0){
                            $('#orders').append(template('myTemplate', data));
                        }else{
                            layer.message(data.msg);
                        }
                    }else{
                        $('#orders').html('<li class="list-item" style="text-align: center;">暂无数据</li>');
                    }
                }
            });
            getData.done(function(data){
                pageNum++;
                if(data.data.length<pageSize){
                    $('#orders').append('<li class="list-item" style="text-align: center;">---我是有底线的---</li>');

                }else{
                    checkScroll();
                }
            });
        };
    </script>

    <script type="text/javascript">
        function orderInfo(id) {
            $.ajax({
                url:"/takeAway/getTakeAwayById?id="+id,
                success:function (data) {
                    if(data.code==0){
                            $('#modal').html(template('orderInfoByTakeAway', data.data));
                            $('#takeAwayInfoModal').modal('show');
                    }else {
                        layer.msg(data.msg);
                    }
                },
                error:function () {
                    layer.msg('获取失败');
                }
            });
        }
    </script>
    <script type="text/html" id="orderInfoByTakeAway">
        <div class="modal fade" id="takeAwayInfoModal" style="display: none;" aria-hidden="true">
            <div class="bottom white b-b" style="height:75%;">
                <div class="row-col"><a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">×</a>
                    <div class="p-a b-b"><span class="h6">取件单详情</span></div>
                    <div class="row-row">
                        <div class="row-body">
                            <div class="row-inner">
                                <table class="table table-striped b-t">
                                    <tr>
                                        <td>订单号</td>
                                        <td>{{id}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">{{sms}}</td>
                                    </tr>
                                    <tr>
                                        <td>收件联系人</td>
                                        <td>{{endUserName}}</td>
                                    </tr>
                                    <tr>
                                        <td>联系电话</td>
                                        <td>{{endPhone}}</td>
                                    </tr>
                                    <tr>
                                        <td>收件地址</td>
                                        <td>{{endUserNote}}</td>
                                    </tr>
                                    <tr>
                                        <td>备注</td>
                                        <td>
                                            {{if note}}
                                            {{note}}
                                            {{else}}
                                            无
                                            {{/if }}
                                            {{note}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>预约时间</td>
                                        <td>
                                            {{if isSubscribe==1}}
                                            {{subscribeTime}}
                                            {{else}}
                                            立即上门
                                            {{/if }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>状态</td>
                                        <td>
                                            <span class="text-danger">
                                                {{if state==1}}
                                                待接单
                                                {{else if state==2}}
                                                已接单
                                                {{else if state==3}}
                                                已完成
                                                {{else if state==4}}
                                                已取消
                                                {{else if state==5}}
                                                已拒接
                                                {{else if state==6}}
                                                待补价
                                                {{/if }}
                                            </span>
                                        </td>
                                    </tr>
                                    {{if state==2}}
                                    <tr>
                                        <td>配送员</td>
                                        <td>
                                            {{disName}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>配送员电话</td>
                                        <td>
                                            {{disPhone}}
                                        </td>
                                    </tr>
                                    {{/if }}
                                    {{if state==6}}
                                    <tr>
                                        <td>补价金额</td>
                                        <td>
                                            {{bootMoney}} 元
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>补价原因</td>
                                        <td>
                                            {{bootMessage}}
                                        </td>
                                    </tr>
                                    {{/if }}
                                    {{if state==5}}
                                    <tr>
                                        <td>拒接理由</td>
                                        <td>
                                            {{refuseMessage}}
                                        </td>
                                    </tr>
                                    {{/if }}
                                    <tr>
                                        <td>支付状态</td>
                                        <td>
                                            {{if payState==0}}
                                            <span class="text-danger">未支付</span>
                                            {{else if payState==1}}
                                            <span class="text-primary">已支付</span>
                                            {{/if }}
                                        </td>
                                    </tr>
                                    {{if payState==1}}
                                    <tr>
                                        <td>支付订单号</td>
                                        <td>{{transactionId}}</td>
                                    </tr>
                                    {{/if }}
                                    <tr>
                                        <td>创建日期</td>
                                        <td>{{createDate}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="p-a b-t text-right">
                        {{if state==1}}
                        <button class="btn rounded danger btn-sm" onclick="sendOut('{{id}}','{{openId}}');">接单</button>
                        <button class="btn rounded danger btn-sm" onclick="refuse('{{id}}','{{openId}}');">拒绝</button>
                        <button class="btn rounded danger btn-sm" onclick="boot('{{id}}','{{openId}}');">补差价</button>
                        {{else if state==2}}
                        <button class="btn rounded primary btn-sm" onclick="sendDone('{{id}}');">确认完成</button>
                        {{else if state==3}}
                        <button class="btn rounded danger btn-sm" onclick="orderWarn('{{id}}');">删除订单</button>
                        {{else if state==4}}
                        <button class="btn rounded danger btn-sm">已取消</button>
                        {{else if state==5}}
                        <button class="btn rounded danger btn-sm">已拒接</button>
                        {{else if state==6}}
                        <button class="btn rounded danger btn-sm">待补价</button>
                        {{else if state==0}}
                        <button class="btn rounded danger btn-sm">已删除</button>
                        {{/if }}
                    </div>
                </div>
            </div>
        </div>

    </script>
    <div class="modal" id="refuseModal" data-backdrop="true" style="display: none;" aria-hidden="true">
        <div class="row-col h-v">
            <div class="row-cell v-m">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">请填写拒接理由</h5>
                        </div>
                        <div class="modal-body text-center p-lg">
                            <form action="#" class="m-b-md">
                                <div class="input-group input-group-lg">
                                    <input type="text" id="refuseMessage" class="form-control" placeholder="拒接理由">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">取消</button>
                            <button type="button" class="btn danger p-x-md" id="refuse">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="bootModal" data-backdrop="true" style="display: none;" aria-hidden="true">
        <div class="row-col h-v">
            <div class="row-cell v-m">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">请填写补价金额及原因</h5>
                        </div>
                        <div class="modal-body text-center p-lg">
                            <form action="#" class="m-b-md">
                                <div class="input-group m-b">
                                    <input type="number" id="bootMoney" class="form-control" placeholder="补价金额（元）">
                                </div>
                                <div class="input-group m-t">
                                <input type="text" id="bootMessage" class="form-control" placeholder="补价原因">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">取消</button>
                            <button type="button" class="btn danger p-x-md" id="boot">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function sendOut(id,openId){
            layer.open({
                type: 2,
                title: '请为订单号为【'+id+'】选择配送员' ,
                shadeClose: true,
                shade: 0.8,
                area: ['70%', '90%'],
                content: '/util/distributor',
                success: function (layero, index) {
                    var body = layer.getChildFrame('body', index);
                    body.contents().find("#orderId").val(id);
                    body.contents().find("#openId").val(openId);
                },
                end:function () {
                    var handle_status = $("#handle_status").val();
                    if ( handle_status == 'ok' ) {
                        $('#takeAwayInfoModal').modal('hide');
                        $("#handle_status").val('');
                        setTimeout(function () {
                            $('#'+id+' .state').text('已接单');
                            $('#'+id+' .state').removeClass('warning');
                            $('#'+id+' .state').addClass('warn');
                            layer.msg('接单成功');
                        },1000);
                    } else {
                        if(handle_status.length>0 ){
                            layer.msg(handle_status);
                            $("#handle_status").val('');
                        }
                    }
                }
            });
        };
        function refuse(id,openId) {
            $('#takeAwayInfoModal').modal('hide');
            $('#refuseModal').modal('show');
            $('#refuse').click(function () {
                var refuseMessage =$('#refuseMessage').val();
                if(refuseMessage==''){
                    layer.msg('请填写拒接理由');
                    return;
                }
                $.ajax({
                    url:"/takeAway/refuse",
                    type:"post",
                    data:{"id":id,"openId":openId,"refuseMessage":refuseMessage},
                    async:false,
                    beforeSend:function () {
                        $("#refuse").text('...');
                        $("#refuse").attr({ disabled: "disabled" });
                    },
                    complete: function(){
                        $("#refuse").text('确定');
                        $("#refuse").removeAttr("disabled");
                    },
                    success:function (data) {
                        if(data.code==0){
                            $('#refuseModal').modal('hide');
                            setTimeout(function () {
                                $('#'+id+' .state').text('已拒接');
                                $('#'+id+' .state').removeClass('warning');
                                $('#'+id+' .state').addClass('grey');
                                layer.msg('已拒接');
                            },1000);
                        }else {
                            layer.msg(data.msg);
                        }
                    },
                    error:function () {
                        layer.msg('错误');
                    }
                });
            });
        }
        function boot(id,openId) {
            $('#takeAwayInfoModal').modal('hide');
            $('#bootModal').modal('show');
            $('#boot').click(function () {
                var bootMoney =$('#bootMoney').val();
                var bootMessage =$('#bootMessage').val();
                if(bootMoney==''){
                    layer.msg('请填写补价金额');
                    return;
                }
                if(bootMessage==''){
                    layer.msg('请填写补价原因');
                    return;
                }
                $.ajax({
                    url:"/takeAway/boot",
                    type:"post",
                    data:{"id":id,"openId":openId,"bootMoney":bootMoney,"bootMessage":bootMessage},
                    async:false,
                    beforeSend:function () {
                        $("#refuse").text('...');
                        $("#refuse").attr({ disabled: "disabled" });
                    },
                    complete: function(){
                        $("#refuse").text('确定');
                        $("#refuse").removeAttr("disabled");
                    },
                    success:function (data) {
                        if(data.code==0){
                            $('#bootModal').modal('hide');
                            setTimeout(function () {
                                $('#'+id+' .state').text('待补价');
                                $('#'+id+' .state').removeClass('warning');
                                $('#'+id+' .state').addClass('info');
                                layer.msg('已发送补价申请');
                            },1000);
                        }else {
                            layer.msg(data.msg);
                        }
                    },
                    error:function () {
                        layer.msg('错误');
                    }
                });
            });
        }
    </script>
</div>
</body>
</html>