<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="meun">
    <div class="navbar navbar-md danger no-radius box-shadow-z4">
        <a class="navbar-brand">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24" height="24">
                <path d="M 4 4 L 44 4 L 44 44 Z" fill="rgba(255,255,255,0.5"></path>
                <path d="M 4 4 L 34 4 L 24 24 Z" fill="rgba(0,0,0,0.15)"></path>
                <path d="M 4 4 L 24 4 L 4  44 Z" fill="#fff"></path>
            </svg>
            <img src="/static/images/a2.jpg" alt="." class="hide">
            <span class="hidden-folded inline" th:text="${session.loginUser.username}">Flatkit</span>
        </a>
    </div>
    <div flex="" class="hide-scroll">
        <nav class="scroll">
            <ul  class="nav" ui-nav="" id="nav">

                <li class="nav-header hidden-folded">
                    <small class="text-muted">one</small>
                </li>

                <th:block th:each="menu,state : ${session.menus}">

                    <th:block th:if="${menu.url} eq '#' and ${menu.pid} eq 0">
                        <li>
                        <a>
                            <span class="nav-caret"><i class="fa fa-caret-down text-danger"></i></span>
                            <span class="nav-icon" th:utext="${menu.icon}"></span>
                            <span class="nav-text" th:text="${menu.name}"></span>
                        </a>
                        <ul class="nav-sub">
                                <th:block th:each="menuChild,menuChildState : ${session.menus}">
                                <th:block th:if="${menu.id} eq ${menuChild.pid}">
                                <li>
                                    <a th:href="${menuChild.url}">
                                        <span class="nav-text" th:text="${menuChild.name}"></span>
                                    </a>
                                </li>
                                </th:block>
                                </th:block>
                            </ul>
                        </li>
                    </th:block>

                    <th:block th:if="${menu.url} ne '#' and ${menu.pid} eq 0">
                        <li>
                            <a th:href="${menu.url}">
                                <span class="nav-icon" th:utext="${menu.icon}"></span>
                                <span class="nav-text" th:text="${menu.name}"></span>
                            </a>
                        </li>
                    </th:block>
                </th:block>

            </ul>
        </nav>
    </div>
</div>
</html>