<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="top">
    <div class="navbar">
        <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
            <i class="material-icons"></i>
        </a>
        <div class="navbar-item pull-left h5" ng-bind="$state.current.data.title" id="pageTitle"></div>
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item dropdown">
                <a class="nav-link clear" href="" data-toggle="dropdown">
                <span class="avatar w-32">
                  <img th:src="${session.loginUser.headerImg}" alt="...">
                  <i class="on b-white bottom"></i>
                </span>
                </a>
                <div class="dropdown-menu pull-right dropdown-menu-scale">
                    <a class="dropdown-item" ui-sref="app.inbox.list"><span>Inbox</span>
                    <span class="label warn m-l-xs">3</span></a>
                    <div class="dropdown-divider"></div>
                    <a th:href="@{/logout}"  class="dropdown-item">Sign out</a></div>
            </li>
        </ul>
    </div>
</div>
</html>