<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/layout">
<head>
<title>个人中心</title>
</head>
<body>
<!--中部 -->
<div layout:fragment="content">

    <div class="row">
        <div class="box text-center">
            <div class="p-a-md">
                <p><img th:src="${session.loginUser.headimgurl}" class="img-circle w-56"></p>
                <a href="javascript:void(0);" class="text-md block" th:text="${session.loginUser.nicknameStr}"></a>
                <p><small>London, UK</small></p>
            </div>
            <div class="row no-gutter b-t">
                <div class="col-xs-6 b-r">
                    <a class="p-a block text-center active" href="/paKe/sendAway/index">
                        <i class="material-icons md-24 text-primary"></i>
                        <span class="block">寄件</span>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a class="p-a block text-center" href="/paKe/takeAway/index">
                        <i class="material-icons md-24 text-primary"></i>
                        <span class="block">取件</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="content"></div>
    <div id="modal"></div>
    <script type="text/html" id="myTemplate">
        {{each data as value index}}
        <div class="row" id="{{value.id}}" onclick="orderInfo('{{value.id}}','{{value.type}}')">
            <div class="box">
                <div id="box-header" class="box-header {{if value.type==1}}primary{{else if value.type==2}}danger{{/if}}">
                    <h3 class="w-full">
                        <div class="text-left text-white">
                            {{if value.type==1}}
                            取件单
                            {{else if value.type==2}}
                            寄件单
                            {{/if}}
                        </div>
                        <div class="text-right text-white" id="state">
                            {{if value.state==1}}
                            待接单
                            {{else if value.state==2}}
                            已接单
                            {{else if value.state==3}}
                            已完成
                            {{else if value.state==4}}
                            已取消
                            {{else if value.state==5}}
                            已拒接
                            {{else if value.state==6}}
                            待补价
                            {{/if}}
                        </div>
                    </h3>
                    <small class="text-white">{{value.id}}</small>
                </div>
            </div>
        </div>
        {{/each}}
    </script>

    <script type="text/javascript" th:inline="javascript">
        /**获取session中的值*/
        var openId=[[${session.loginUser.openId}]];
        var url ="/paKe/user/getOrders";
        var urlData ="openId="+openId+"&pageNum="+pageNum+"&pageSize="+pageSize;
        //入口
        $(function(){
            getData(url,urlData);
        });
        var isLoading = true;
        $(window).bind("scroll", function () {
            if ($(document).scrollTop() + $(window).height()
                > $(document).height() - 200 && isLoading) {
                isLoading = false;
                urlData ="openId="+openId+"&pageNum="+pageNum+"&pageSize="+pageSize;
                getData(url,urlData)
            }
        });
        function getData(url,urlData){
            var getData =$.ajax({
                type:'get',
                url:url,
                data:urlData,
                success:function(data){
                    if (!$.isEmptyObject(data)) {
                        if(data.code==0){
                            $('#content').append(template('myTemplate', data));
                        }else{
                            layer.message(data.msg);
                        }
                    }else{
                        $('#content').html('<li class="list-item" style="text-align: center;">暂无任何订单</li>');
                    }
                }
            });
            getData.done(function(data){
                if(data.data.length<pageSize){
                    $('#content').append('<li class="list-item" style="text-align: center;">---没有更多啦---</li>');
                }else{
                    isLoading = true;
                }
                pageNum++;
            });
        };
    </script>

    <script type="text/html" id="orderInfoByTakeAway">
        <div class="modal fade" id="takeAwayInfoModal" style="display: none;" aria-hidden="true">
            <div class="top white b-b" style="height:75%;">
                <div class="row-col"><a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">×</a>
                    <div class="p-a b-b"><span class="h6">取件单详情</span></div>
                    <div class="row-row">
                        <div class="row-body">
                            <div class="row-inner">
                                <table class="table table-striped b-t">
                                    <tr>
                                        <td>订单号</td>
                                        <td>{{id}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">{{sms}}</td>
                                    </tr>
                                    <tr>
                                        <td>收件联系人</td>
                                        <td>{{endUserName}}</td>
                                    </tr>
                                    <tr>
                                        <td>联系电话</td>
                                        <td>{{endPhone}}</td>
                                    </tr>
                                    <tr>
                                        <td>收件地址</td>
                                        <td>{{endUserNote}}</td>
                                    </tr>
                                    <tr>
                                        <td>备注</td>
                                        <td>
                                            {{if note}}
                                            {{note}}
                                            {{else}}
                                            无
                                            {{/if }}
                                            {{note}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>预约时间</td>
                                        <td>
                                            {{if isSubscribe==1}}
                                            {{subscribeTime}}
                                            {{else}}
                                            立即上门
                                            {{/if }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>状态</td>
                                        <td>
                                            <span class="text-danger">
                                            {{if state==1}}
                                            待接单
                                            {{else if state==2}}
                                            已接单
                                            {{else if state==3}}
                                            已完成
                                            {{else if state==4}}
                                            已取消
                                            {{else if state==5}}
                                            已拒接
                                            {{else if state==6}}
                                            待补价
                                            {{/if }}
                                            </span>
                                        </td>
                                    </tr>
                                    {{if state==2}}
                                    <tr>
                                        <td>配送员</td>
                                        <td>
                                            {{disName}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>配送员电话</td>
                                        <td>
                                            {{disPhone}}
                                        </td>
                                    </tr>
                                    {{/if }}
                                    {{if state==6}}
                                    <tr>
                                        <td>补价金额</td>
                                        <td>
                                            {{bootMoney}} 元
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>补价原因</td>
                                        <td>
                                            {{bootMessage}}
                                        </td>
                                    </tr>
                                    {{/if }}
                                    {{if state==5}}
                                    <tr>
                                        <td>拒接理由</td>
                                        <td>
                                            {{refuseMessage}}
                                        </td>
                                    </tr>
                                    {{/if }}
                                    <tr>
                                        <td>支付状态</td>
                                        <td>
                                            {{if payState==0}}
                                            <span class="text-danger">未支付</span>
                                            {{else if payState==1}}
                                            <span class="text-primary">已支付</span>
                                            {{/if }}
                                        </td>
                                    </tr>
                                    {{if payState==1}}
                                    <tr>
                                        <td>支付订单号</td>
                                        <td>{{transactionId}}</td>
                                    </tr>
                                    {{/if }}
                                    <tr>
                                        <td>创建日期</td>
                                        <td>{{createDate}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="p-a b-t text-right">
                        <a class="btn rounded white btn-sm" href="tel:17311202823">联系客服</a>
                        {{if state==2}}
                        <a class="btn rounded white btn-sm" href="tel:{{disPhone}}">联系配送员</a>
                        {{else if state==6}}
                        <a class="btn rounded white btn-sm" onclick="cancelOrder('{{id}}',1);">取消订单</a>
                        <a class="btn rounded danger btn-sm text-white" onclick="orderWarn('{{id}}',1);">补差价</a>
                        {{/if }}
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="orderInfoByTakeSend">
        <div class="modal fade" id="takeSendInfoModal" style="display: none;" aria-hidden="true">
            <div class="top white b-b" style="height:75%;">
                <div class="row-col"><a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">×</a>
                    <div class="p-a b-b"><span class="h6">寄件单详情</span></div>
                    <div class="row-row">
                        <div class="row-body">
                            <div class="row-inner">
                                <table class="table table-striped b-t">
                                    <tr>
                                        <td>订单号</td>
                                        <td>{{id}}</td>
                                    </tr>
                                    <tr>
                                        <td>物品类型</td>
                                        <td>{{goodsType}}</td>
                                    </tr>
                                    <tr>
                                        <td>取件联系人</td>
                                        <td>{{endUserName}}</td>
                                    </tr>
                                    <tr>
                                        <td>联系电话</td>
                                        <td>{{endPhone}}</td>
                                    </tr>
                                    <tr>
                                        <td>取件地址</td>
                                        <td>{{endUserNote}}</td>
                                    </tr>
                                    <tr>
                                        <td>备注</td>
                                        <td>
                                            {{if note}}
                                            {{note}}
                                            {{else}}
                                            无
                                            {{/if }}
                                            {{note}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>预约时间</td>
                                        <td>
                                            {{if isSubscribe==1}}
                                            {{subscribeTime}}
                                            {{else}}
                                            立即上门
                                            {{/if }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>状态</td>
                                        <td>
                                            {{if state==1}}
                                            <span class="text-danger">待接单</span>
                                            {{else if state==2}}
                                            <span class="text-warn">已接单</span>
                                            {{else if state==3}}
                                            <span class="text-primary">已完成</span>
                                            {{else if state==4}}
                                            <span class="text-danger">已取消</span>
                                            {{/if }}
                                        </td>
                                    </tr>
                                    {{if state==3}}
                                    <tr>
                                        <td>快递公司</td>
                                        <td>{{courierCompany}}</td>
                                    </tr>
                                    <tr>
                                        <td>快递单号</td>
                                        <td>{{courierNumber}}</td>
                                    </tr>
                                    {{/if }}
                                    <tr>
                                        <td>创建日期</td>
                                        <td>{{createDate}}</td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="p-a b-t text-right">
                        {{if state==1}}
                        <button class="btn rounded white btn-sm" onclick="orderWarn('{{id}}',2);">取消订单</button>
                        {{else if state==2}}
                        <a class="btn rounded white btn-sm" href="tel:17311202823">联系配送员</a>
                        {{else}}
                        <a class="btn rounded white btn-sm" href="tel:17311202823">联系客服</a>
                        <button class="btn rounded danger btn-sm" onclick="orderWarn('{{id}}',2);">删除订单</button>
                        {{/if }}
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="orderWarn">
    <div class="modal fade" id="orderWarnModal" style="display: none;" aria-hidden="true">
        <div class="row-col h-v">
        <div class="row-cell v-m">
        <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">提示</h5>
                    </div>
                    <div class="modal-body text-center p-lg">
                        {{if state==1}}
                        {{if type==1}}
                        <p>确定取消该取件单吗?</p>
                        {{else if type==2}}
                        <p>确定取消该寄件单吗?</p>
                        {{/if }}
                        {{else}}
                        {{if type==1}}
                        <p>确定删除该取件单吗?</p>
                        {{else if type==2}}
                        <p>确定删除该寄件单吗?</p>
                        {{/if }}
                        {{/if }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">取消</button>
                        {{if state==1}}
                        <button type="button" class="btn danger p-x-md" onclick="cancelOrder('{{id}}','{{type}}')">确定</button>
                        {{else}}
                        <button type="button" class="btn danger p-x-md" onclick="deleteOrder('{{id}}','{{type}}')">确定</button>
                        {{/if }}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </script>
    <script type="text/javascript">
        function orderInfo(id,type) {
            $.ajax({
                url:"/paKe/user/getOrderInfo?id="+id+"&type="+type,
                beforeSend:function () {
                    $('#loading').show();
                },
                complete: function(){
                    $('#loading').hide();
                },
                success:function (data) {
                    if(data.code==0){
                        var json = {"id":id,"type":type,"state":data.data.state};
                        if(type==1){
                            $('#modal').html(template('orderInfoByTakeAway', data.data));
                            if(json.state!=2){$('#modal').append(template('orderWarn', json));}
                            $('#takeAwayInfoModal').modal('show');
                        }
                        if(type==2){
                            $('#modal').html(template('orderInfoByTakeSend', data.data));
                            if(json.state!=2){$('#modal').append(template('orderWarn', json));}
                            $('#takeSendInfoModal').modal('show');
                        }
                    }else {
                        layer.msg(data.msg);
                    }
                },
                error:function () {
                    layer.msg('获取失败');
                }
            });
        }
        function cancelOrder(id,type) {
        $.ajax({
            url:"/paKe/user/cancelOrder?id="+id+"&type="+type,
            success:function (data) {
                if(data.code==0){
                    $('#orderWarnModal').modal('hide');
                    $("#"+id+" #box-header").removeClass("danger");
                    $("#"+id+" #box-header").addClass("primary");
                    $("#"+id+" #state").html("已取消")
                }else {
                    layer.msg(data.msg);
                }
            },
            error:function () {
                layer.msg('取消失败');
            }
        });
        }

        function deleteOrder(id,type) {
        $.ajax({
            url:"/paKe/user/deleteOrder?id="+id+"&type="+type,
            success:function (data) {
                if(data.code==0){
                    switch (parseInt(type)) {
                        /** 取件单*/
                        case 1:
                            $('#orderWarnModal').modal('hide');
                            break;
                        /** 寄件单*/
                        case 2:
                            $('#orderWarnModal').modal('hide');
                            break;
                    }
                    $("#"+id).fadeOut("slow", function (){$("#"+id).remove();});
                }else {
                    layer.msg(data.msg);
                }
            },
            error:function () {
                layer.msg('删除失败');
            }
        });
        }

        function orderWarn(id,type) {
            switch (type) {
                /** 取件单*/
                case 1:
                    $('#takeAwayInfoModal').modal('hide');
                    $('#orderWarnModal').modal('show');
                    break;
                /** 寄件单*/
                case 2:
                    $('#takeSendInfoModal').modal('hide');
                    $('#orderWarnModal').modal('show');
                    break;
            }
        }
    </script>
</div>
</body>
</html>