<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/layout">
<head>
<title>配送员管理</title>
</head>
<body>
<!--中部 -->
<div layout:fragment="content">
    <div class="pull-right"><button class="btn btn-fw danger m-b" onclick="add();">新增</button></div>

    <ul class="nav nav-sm nav-pills nav-active-danger clearfix">
        <li class="nav-item">
            <a class="nav-link active" href="" data-toggle="tab" data-target="#all">全部 <span class="label label-sm danger m-l-xs">160</span></a>
        </li>
    </ul>

    <div id="distributors" class="tab-content">

    </div>

    <script type="text/html" id="distributor">
        <div class="tab-pane p-v-sm active" id="all" aria-expanded="true">
            <div class="row row-sm">
                {{each data as value index}}
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="box text-center">
                        <div class="box-tool">
                            <ul class="nav">
                                <li class="nav-item inline dropdown">
                                    <label class="md-switch">
                                        {{if value.state==0}}
                                        <input checked type="checkbox" onclick="stopOrRun('{{value.id}}',this);">
                                        {{else if value.state==1}}
                                        <input type="checkbox" onclick="stopOrRun ('{{value.id}}',this);">
                                        {{/if}}
                                        <i class="{{if value.state==0}}danger{{else if value.state==1}}warn{{/if}}"></i>
                                    </label>
                                </li>
                                <li class="nav-item inline dropdown">
                                    <a class="nav-link text-muted p-x-xs" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v {{if value.state==0 }}text-danger{{else if value.state==1}}text-warn{{/if}}"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-scale pull-right">
                                        <a class="dropdown-item" href="javascript:void(0);">{{value.sex}}</a>
                                        <a class="dropdown-item" href="javascript:void(0);">{{value.idCard}}</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0);">{{value.createDate}}</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="p-a-md">
                            <p><img src="{{value.headImg}}" class="img-circle w-56"></p>
                            <a href="javascript:void(0);" class="text-md block">{{value.name}}</a>
                            <p><small>{{value.phone}}</small></p>
                            <a href="javascript:void(0);" class="btn btn-sm btn-outline rounded {{if value.state==0 }}danger{{else if value.state==1}}warn{{/if}}">工号：{{value.idNum}}</a>
                        </div>
                        <div class="row row-col no-gutter b-t {{if value.state==0 }}danger{{else if value.state==1}}warn{{/if}}">
                            <div class="col-xs-4 b-r">
                                <a class="p-y block text-center" ui-toggle-class="">
                                    <strong class="block">配送总数</strong>
                                    <span class="block">100</span>
                                </a>
                            </div>
                            <div class="col-xs-4 b-r">
                                <a class="p-y block text-center" ui-toggle-class="">
                                    <strong class="block">准时率</strong>
                                    <span class="block">96%</span>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a class="p-y block text-center" ui-toggle-class="">
                                    <strong class="block">平均配送时长</strong>
                                    <span class="block">20</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </script>

    <script type="text/javascript">
        $(function () {
           $.get("/distributor/list",function (data) {
               if (!$.isEmptyObject(data)) {
                   if(data.code==0){
                       $('#distributors').html(template('distributor', data));
                   }else{
                       layer.message(data.msg);
                   }
               }else{
                   $('#content').html('<li class="list-item" style="text-align: center;">暂无数据</li>');
               }
           },"json")
        });
        function stopOrRun(id,checkbox) {
            var isChecked =$(checkbox).prop('checked');
            if(isChecked){
                runDis(id);
            }else{
                stopDis(id);
            }
        }
        function stopDis(id) {
            $.get("/distributor/stopDis?id="+id,function (data) {
                if(data.code==0){
                    layer.msg("停用成功");
                }else{
                    layer.msg(data.msg);
                }
                },"json");
        }
        function runDis(id) {
            $.get("/distributor/runDis?id="+id,function (data) {if(data.code==0){
                layer.msg("启用成功");
            }else{
                layer.msg(data.msg);
            }
            },"json");
        }
    </script>

    <div class="modal fade" id="addDistributor" style="display: none;" aria-hidden="true">
        <div class="right w-xxl white b-l">
            <div class="row-col"><a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">×</a>
                <div class="p-a b-b"><span class="h6">新增配送员</span></div>
                <div class="row-row">
                    <div class="row-body">
                        <div class="row-inner padding">
                            <form id="fromData" action="/distributor/save" method="post">
                                <div class="form-group">
                                    <label>姓名</label>
                                    <input type="text" name="name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>工号</label>
                                    <input type="text" name="idNum" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>联系电话</label>
                                    <input type="text" name="phone" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>身份证号码</label>
                                    <input type="text" name="idCard" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>性别</label>
                                    <p>
                                        <label class="md-check">
                                            <input type="radio" name="sex" checked class="has-value" value="男">
                                            <i class="danger"></i>
                                            男
                                        </label>
                                        <label class="md-check">
                                            <input type="radio" name="sex" class="has-value" value="女">
                                            <i class="danger"></i>
                                            女
                                        </label>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label class="m-r">是否启用</label>
                                    <input id="state" type="hidden" name="state" value="0">
                                    <p>
                                        <label class="ui-switch danger m-r">
                                            <input id="switch" type="checkbox" checked="" class="has-value" value="0">
                                            <i></i>
                                        </label>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="p-a b-t">
                    <button type="button" id="submit" class="btn danger p-x-md">保存</button>
                    <button type="button" class="btn danger p-x-md" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        $(function () {
            $("#switch").bind("click", function () {
                if($("#state").val()==0){
                    $("#state").val(1);
                }else{
                    $("#state").val(0);
                }
            });

            $('#fromData').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    name: {
                        validators: {
                            notEmpty: {
                                message: '姓名不能为空'
                            }
                        }
                    },
                    idNum: {
                        validators: {
                            notEmpty: {
                                message: '工号不能为空'
                            },
                            stringLength: {
                                min: 4,
                                max: 8,
                                message: '长度需要在4到8位数之间'
                            },
                            digits: {
                                message: '工号只能为数字'
                            }
                        }
                    },
                    phone:{
                        validators: {
                            notEmpty: {
                                message: '联系电话不能为空'
                            },
                            stringLength: {
                                min: 11,
                                max: 11,
                                message: '请输入11位手机号码'
                            },
                            regexp: {
                                regexp: /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\\d{8}$/,
                                message: '请输入正确的手机号码'
                            }
                        }
                    }
                }
            });
        });
        $("#fromData").submit(function(ev){
            var $form = $(ev.target);
            $.ajax({
               url:$form.attr('action'),
               data:$form.serialize(),
               type:"post",
               beforeSend:function () {
                   $("#submit").text('...');
                   $("#submit").attr({ disabled: "disabled" });
               },
               complete: function(){
                   $("#submit").text('保存');
                   $("#submit").removeAttr("disabled");
               },
               success:function (data) {
                    if (data.code==0){
                        $('#fromData').data('bootstrapValidator').resetForm(true);
                        $('#addDistributor').modal('hide');
                        layer.msg(data.msg);
                    }else {
                        layer.msg(data.msg);
                    }
                }
            });
        });
        $("#submit").on("click", function(){
            var bootstrapValidator = $("#fromData").data('bootstrapValidator');
            bootstrapValidator.validate();
            if(bootstrapValidator.isValid())
            $("#fromData").submit();
            else return;
        });

        function add() {
            $('#addDistributor').modal('show');
        }
    </script>
</div>
</body>
</html>