<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/layout">
<body>
<!--中部 -->
<div layout:fragment="content">
    <div class="row-col">
        <div class="col-sm w w-auto-xs b-r lt bg-auto">
            <div class="m-l-xs pos-rlt">
                <div>
                    <button class="btn btn-sm white pull-right hidden-sm-up" ui-toggle-class="show" target="#inbox-menu"><i class="fa fa-bars"></i></button>
                    <a href="" class="btn btn-sm white w-xs">全部菜单</a>
                </div>
                <ul id="testTree" class="ztree"></ul>
            </div>
        </div>
        <div class="col-sm" id="menuInfo">
            <div class="pull-right"><button class="btn btn-fw danger m-b" onclick="add();">新增</button></div>
        </div>
    </div>

    <script type="text/html" id="menuInfoTemp">
        <div ui-view="" class="padding pos-rlt">
            <div class="m-b">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-sm white"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-sm white"><i class="fa fa-chevron-right"></i></button>
                </div>
                <div class="btn-toolbar">
                    <div class="btn-group">
                        {{if type=='add'}}新增菜单{{else}}{{name}}{{/if}}
                    </div>
                </div>
            </div>
            <div class="list white">
                <div class="form-horizontal padding">
                    <input type="hidden" value="{{id}}">
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">菜单名称</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="{{name}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">链接</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="{{url}}">
                        </div>
                    </div>
                    {{if pid !=null}}
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">父级菜单</label>
                        <div class="col-sm-9">
                            <input type="hidden" class="form-control" value="{{pid}}">
                            <input type="text" disabled class="form-control" value="{{pName}}">
                        </div>
                    </div>
                    {{/if}}
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">图标</label>
                        <div class="col-sm-9">
                            <input type="hidden" value="{{icon}}">
                            <button class="btn white">
                                {{if type=='add'}}选 择{{else}}{{#icon}}{{/if}}
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label"></label>
                        <div class="col-sm-9">
                            <button class="btn pull-right danger">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script>
        $(function () {
            var setting = {
                view : {
                    showIcon : true,
                    showLine: true,
                    showTitle: true,
                    addHoverDom: addHoverDom,
                    removeHoverDom: removeHoverDom
                },
                edit: {
                    drag:{
                        isCopy: false,
                        isMove: true
                    },
                    showRenameBtn:showRenameBtn,
                    showRemoveBtn:showRemoveBtn,
                    enable: true
                },
                data : {
                    simpleData : {
                        enable : true,//是否之用简单数据
                        idKey : 'id', //对应json数据中的ID
                        pIdKey : 'pid' //对应json数据中的父ID
                    }
                },
                async : {
                    enable : true,//是否为异步加载
                    url : '/system/getMenus'//相关的请求网址
                },
                callback : {
                    onClick : onclickTree,//点击相关节点触发的事件
                    onAsyncSuccess : ztreeOnAsyncSuccess,//异步加载成功后执行的方法
                    beforeRemove: beforeRemove
                }
            };
            $.fn.zTree.init($("#testTree"), setting, null);
        });

        //点击树触发的事件
        function onclickTree(event, treeId, treeNode) {
            var json = {"id":treeNode.id,"name":treeNode.name,"url":treeNode.url,"icon":treeNode.icon,'type':'update'};
            var pid=treeNode.pid;
            if(pid==null){
                json.pid=0;
                json.pName='无';
            }else{
                json.pid=pid;
                json.pName=treeNode.getParentNode().name;
            }
            $('#menuInfo').html(template('menuInfoTemp',json));
        }
        //获取树成功后进行的回调操作
        function ztreeOnAsyncSuccess(event, treeId, treeNode) {
            expand_ztree(treeId)
        }
        function expand_ztree(treeId){
            var treeObj = $.fn.zTree.getZTreeObj(treeId);
            treeObj.expandAll(true);
        }
        function addHoverDom(treeId, treeNode) {
            var sObj = $("#" + treeNode.tId + "_span");
            if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
            var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
                + "' title='新增' onfocus='this.blur();'></span>";
            sObj.after(addStr);
            var btn = $("#addBtn_"+treeNode.tId);
            if (btn) btn.bind("click", function(){
                var json = {"pid":treeNode.id,"pName":treeNode.name,'type':'add'};
                $('#menuInfo').html(template('menuInfoTemp',json));
                return false;
            });
        }
        function removeHoverDom(treeId, treeNode) {
            $("#addBtn_"+treeNode.tId).unbind().remove();
        }
        //删除节点信息
        function beforeRemove(treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("testTree");
            zTree.selectNode(treeNode);
            if (confirm("确认删除 节点 -- " + treeNode.name + " 吗？")) {
                var treeInfo = treeNode.id;
                $.ajax({
                    url: "Ajax.aspx?_tid=" + treeInfo + "&action=Remove",
                    type: "POST",
                    async: false,
                    success: function (res) {
                        if (res = "success") {
                            alert('删除成功!');
                            window.location.reload();
                        } else {
                            alert('删除失败!');
                            window.location.reload();
                        }
                    }
                });
            } else {
                window.location.reload();
            }
        }
        //是否显示编辑按钮
        function  showRenameBtn(treeId, treeNode){
            return false;
        }
        //是否显示删除按钮
        function showRemoveBtn(treeId, treeNode){
            return true;
        }
    </script>

</div>
</body>
</html>