<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/layout">
<body>
<!--中部 -->
<div layout:fragment="content">
    <div class="pull-right"><button class="btn btn-fw danger m-b" onclick="add();">新增</button></div>

    <ul class="nav nav-sm nav-pills nav-active-danger clearfix">
        <li class="nav-item">
            <a class="nav-link active">全部 <span class="label label-sm danger m-l-xs" id="dataCount"></span></a>
        </li>
    </ul>

    <form action="#" class="m-b-md">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="请输入关键字查询" data-search>
        </div>
    </form>
    <div id="rolesData"></div>

    <script type="text/html" id="roles">
        <div class="row row-sm">
            {{each data as value index}}
            <div class="col-xs-12 col-sm-12 col-md-3 filtr-item" data-category="1">
            <div class="list-item box r m-b">
            <a herf="javascript:void(0);" class="list-left"><span class="w-40 circle danger avatar"><span>R</span><i class="off b-danger"></i></span></a>
                    <div class="box-tool">
                        <ul class="nav">
                            <li class="nav-item inline dropdown">
                                <a class="nav-link text-muted p-x-xs" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-scale pull-right">
                                    <a class="dropdown-item" href="javascript:void(0);">分配菜单</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-body">
                        <div class="text-ellipsis">
                            <a href="">{{value.name}}</a>
                        </div>
                        <small class="text-muted text-ellipsis m-t-xs">{{value.remarks}}</small>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </script>
    <script type="text/html" id="role">
        <div class="row row-sm">
            <div class="col-xs-12 col-sm-12 col-md-3 filtr-item" data-category="1">
                <div class="list-item box r m-b">
                    <a herf="javascript:void(0);" class="list-left"><span class="w-40 circle danger avatar"><span>R</span><i class="off b-danger"></i></span></a>
                    <div class="box-tool">
                        <ul class="nav">
                            <li class="nav-item inline dropdown">
                                <a class="nav-link text-muted p-x-xs" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-scale pull-right">
                                    <a class="dropdown-item" href="javascript:void(0);">分配菜单</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-body">
                        <div class="text-ellipsis">
                            <a href="">{{name}}</a>
                        </div>
                        <small class="text-muted text-ellipsis m-t-xs">{{remarks}}</small>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script>
    $(function () {
        $.ajax({
            url:"/system/getRoles",
            success:function (data) {
                if(data.code==0){
                    if(data.data.length!=0){
                        $('#dataCount').text(data.data.length);
                        $('#rolesData').html(template('roles', data));
                        $('.row-sm').filterizr();
                    }else {
                        $('#rolesData').html('<li class="list-item" style="text-align: center;">暂无数据</li>');
                    }
                }else {
                    layer.msg(data.msg);
                }
            },
            error:function () {
                layer.msg('获取失败');
            }
        });
    });
    </script>

    <div class="modal fade" id="add" style="display: none;" aria-hidden="true">
        <div class="right w-xxl white b-l">
            <div class="row-col"><a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">×</a>
                <div class="p-a b-b"><span class="h6">新增角色</span></div>
                <div class="row-row">
                    <div class="row-body">
                        <div class="row-inner padding">
                            <form id="fromData" action="/system/roleBySave" method="post">
                                <div class="form-group">
                                    <label>角色名称</label>
                                    <input type="text" name="name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>备注</label>
                                    <input type="text" name="remarks" class="form-control">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="p-a b-t">
                    <button type="button" id="submit" class="btn danger p-x-md">保存</button>
                    <button type="button" class="btn danger p-x-md" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function add() {
            $('#add').modal('show');
        }
        $('#fromData').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: '角色名称不能为空'
                        },
                        stringLength: {
                            min: 1,
                            max: 20,
                            message: '长度需要在1到20之间'
                        }
                    }
                },
                remarks: {
                    validators: {
                        notEmpty: {
                            message: '备注不能为空'
                        },
                        stringLength: {
                            min: 1,
                            max: 20,
                            message: '长度需要在1到20之间'
                        }
                    }
                }
            }
        });
        $("#submit").on("click", function(){
            var bootstrapValidator = $("#fromData").data('bootstrapValidator');
            bootstrapValidator.validate();
            if(bootstrapValidator.isValid())
                $("#fromData").submit();
            else return;
        });
        $("#fromData").submit(function(ev){
            var $form = $(ev.target);
            $.ajax({
                url:$form.attr('action'),
                data:$form.serialize(),
                type:"post",
                beforeSend:function () {
                    $("#submit").text('...');
                    $("#submit").attr({ disabled: "disabled" });
                },
                complete: function(){
                    $("#submit").text('保存');
                    $("#submit").removeAttr("disabled");
                },
                success:function (data) {
                    if (data.code==0){
                        $('#fromData').data('bootstrapValidator').resetForm(true);
                        $('#add').modal('hide');
                        $('#rolesData').append(template('role', data.data));
                        layer.msg(data.msg);
                    }else {
                        layer.msg(data.msg);
                    }
                }
            });
        });

    </script>
</div>
</body>
</html>