<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/layout">
<head>
<title>通知</title>
</head>
<body>
<!--中部 -->
<div layout:fragment="content">
<div id="modal"></div>


<script type="text/html" id="orderInfo">

    <div class="row box-color text-color pos-rlt">
        <span class="arrow bottom b-white"></span>
        <div class="box-body text-center">
            <i class="material-icons md-24 material-icons md-48 text-success"></i>
            <small>成功</small>
        </div>
    </div>

    <div class="row box m-t">
    <table class="table table-striped b-t">
        <tr>
            <td>订单号</td>
            <td>{{id}}</td>
        </tr>
        <tr>
            <td>物品类型</td>
            <td>{{goodsType}}</td>
        </tr>
        <tr>
            <td>取件联系人</td>
            <td>{{endUserName}}</td>
        </tr>
        <tr>
            <td>联系电话</td>
            <td>{{endPhone}}</td>
        </tr>
        <tr>
            <td>取件地址</td>
            <td>{{endUserNote}}</td>
        </tr>
        <tr>
            <td>备注</td>
            <td>
                {{if note}}
                {{note}}
                {{else}}
                无
                {{/if }}
                {{note}}
            </td>
        </tr>
        <tr>
            <td>预约时间</td>
            <td>
                {{if isSubscribe==1}}
                {{subscribeTime}}
                {{else}}
                立即上门
                {{/if }}
            </td>
        </tr>

        <tr>
            <td>状态</td>
            <td>
                {{if state==1}}
                <span class="text-danger">待接单</span>
                {{else if state==2}}
                <span class="text-warn">已接单</span>
                {{else if state==3}}
                <span class="text-primary">已完成</span>
                {{else if state==4}}
                <span class="text-danger">已取消</span>
                {{/if }}
            </td>
        </tr>
        <tr>
            <td>创建日期</td>
            <td>{{createDate}}</td>
        </tr>
    </table>
    </div>

    <div class="row m-t">
        <div class="col-xs-6">
            <a href="/paKe/sendAway/index">
            <div class="box-color primary pos-rlt">
                <span class="arrow top pull-left b-primary"></span>
                <div class="btn-md text-center">
                    继续寄件
                </div>
            </div>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="/paKe/user/userInfo">
                <div class="box-color primary pos-rlt">
                    <span class="arrow top pull-right b-primary"></span>
                    <div class="btn-md text-center">
                        个人中心
                    </div>
                </div>
            </a>
        </div>
    </div>
</script>
<script>
    $(function () {
        var id=[[${orderId}]];
        var type=[[${type}]];
        console.log(id);
        console.log(type);
        $.ajax({
            url:"/paKe/user/getOrderInfo?id="+id+"&type="+type,
            success:function (data) {
                if(data.code==0){
                    console.log(data.data)
                    $('#modal').html(template('orderInfo', data.data));
                }else {
                    layer.msg(data.msg);
                }
            },
            error:function () {
                layer.msg('获取失败');
            }
        });

    });
</script>
</div>
</body>
</html>