<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/sources">
<body>
<div class="app" id=app>
    <div class="app-body" id="view">
        <div class="padding">
            <form action="#" class="m-b-md">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="请输入关键字查询" data-search>
                </div>
            </form>
            <!-- 内容区 -->
            <input type="hidden" id="orderId" name="id">
            <input type="hidden" id="openId" name="openId">
            <div id="content"></div>
        </div>
    </div>
</div>

<script type="text/html" id="distributor">
    <div class="row row-sm">
        {{each data as value index}}
        <div class="col-xs-6 col-lg-4 filtr-item" data-category="1">
            <div class="list-item box r m-b">
                <a herf="javascript:void(0);" class="list-left"><span class="w-40 avatar"><img src="{{value.headImg}}" alt="..."> <i class="on b-white bottom"></i></span></a>
                <div class="list-body">
                    <div class="pull-right text-xs">
                        <button class="btn btn-sm danger" onclick="sendOut('{{value.id}}','{{value.name}}','{{value.phone}}')">选择</button>
                    </div>
                    <div class="text-ellipsis"><a href="">{{value.name}}</a></div>
                    <small class="text-muted text-ellipsis">{{value.phone}}</small>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</script>

<div class="modal" id="orderWarnModal" data-backdrop="true" style="display: none;" aria-hidden="true">
    <div class="row-col h-v">
        <div class="row-cell v-m">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">提示</h5>
                    </div>
                    <div class="modal-body text-center p-lg">
                        <p>确定选择该配送员吗?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">取消</button>
                        <button type="button" class="btn danger p-x-md" id="submit">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url:"/distributor/list?state=0",
            async:false,
            success:function (data) {
                if(data.code==0){
                    $('#content').html(template('distributor', data));
                    $('.row-sm').filterizr();
                }else {
                    layer.msg(data.msg);
                }
            },
            error:function () {
                layer.msg('获取失败');
            }
        });
    });
    function sendOut(disId,disName,disPhone) {
        $('#orderWarnModal').modal('show');
        $('#submit').click(function () {
            var id =$('#orderId').val();
            var openId =$('#openId').val();
            $.ajax({
                url:"/takeAway/sendOut",
                type:"post",
                data:{"id":id,"openId":openId,"disId":disId,"disName":disName,"disPhone":disPhone},
                async:false,
                beforeSend:function () {
                    $("#submit").text('...');
                    $("#submit").attr({ disabled: "disabled" });
                },
                complete: function(){
                    $("#submit").text('确定');
                    $("#submit").removeAttr("disabled");
                },
                success:function (data) {
                    if(data.code==0){
                        parent.$("#handle_status").val('ok');
                        parent.$(".layui-layer-close1").trigger('click');
                    }else {
                        layer.msg(data.msg);
                    }
                },
                error:function () {
                    parent.$("#handle_status").val('error');
                    layer.msg('错误');
                }
            });
        });
    }
</script>
</body>
</html>